<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <meta charset="utf-8">
    <title>Cadastro de Eventos e Convidados</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/pages.css' />
  </head>
  <body>
    <header>
      <p>
        Bem-vindo, <%= usuario.nome %> | 
        <a href='/menu' class='backward'>
          <i class="glyphicon glyphicon-chevron-left"></i>
          Menu
        </a>
      </p>
      <h1>Cadastro de Usuários</h1>
      <h3>Forneça os dados do usuário para seu cadastro</h3>
    </header>
    <section>
      <form action="/novoUsuario" method="post">
        Nome:<br />
        <input type="text" name="usuario[nome]" />
        <br> Senha:<br/>
        <input type="password" name="usuario[senha]" />
        <br> Confirma:<br />
        <input type="password" name="usuario[confirma]" />
        <br>
        <button type="submit">Cadastrar</button>
      </form>
    </section>
    <footer>
      <small>Sistema de Cadastro de Eventos e Convidados</small>
    </footer>
  </body>
</html>